version: "3.8"

services:
  application:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        USERNAME: ${USER:-vscode}
        USER_UID: 1000
        USER_GID: 1000
        TimeZone: Asia/Taipei
    image: cool-rag/development:latest
    container_name: cool-rag-development
    env_file:
      - ../backend/.env
    volumes:
      - ..:/usr/workspace
      - vscode-extensions:/home/${USER:-vscode}/.vscode-server/extensions
      - vscode-extensions:/home/${USER:-vscode}/.vscode-server-insiders/extensions
    command: sleep infinity

volumes:
  vscode-extensions:
    name: cool-rag-vscode-extensions
